
*{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.input-group{
  margin-bottom: 20px;
}

.input-group label{
  color: rgb(210, 118, 6);
  font-size: 20px;
  font-weight: bold;
}

select{
  color: brown;
  width: 200px;
  text-align: center;
  height: 50px;
  font-size: 17px;
  background-color: rgb(128, 128, 128, 0.1);
  border: 5px solid rgb(128, 128, 128, 0.1);
  border-radius: 10px;
}