<div>
  <div class="input-group input-group-sm mb-3">
  <label for="element">Tipo de Comida</label>
  <br>

    <select [(ngModel)]="selectedTipo1.id" (change)="onSelect($event.target)" >

      <option value="0">--Select element--</option>
      <option *ngFor="let element of tipo1?.tipo1" [value]="element.id"> {{ element.name }} </option>

    </select>

  </div>


  <div class="input-group input-group-sm mb-3">
  <label for="elements">Platos</label>
  <br>

    <select [(ngModel)]="selectedTipo2.id" (change)="onSelect3($event.target)" >

      <option value="0">--Select element--</option>
      <option *ngFor="let elements of tipo2" [value]="elements.id"> {{ elements.name }} </option>
    
    </select>
  </div>

  <div class="input-group input-group-sm mb-3">
  <label for="elements">Ingredientes</label>
  <br>

    <select>
      <option value="0">--Select element--</option>
      <option *ngFor="let elemento of tipo3" [value]="elemento.id"> {{ elemento.name }} </option>
    </select>
  </div>
</div>